.flex {
  display: flex;
  flex-direction: row;
}

.center {
  display: flex;
  justify-content: center;
}

.screen-center {
  height: calc(100vh - 72px);
  align-items: center;
}

.transparent {
  background-color: transparent !important;
}

.w-100 {
  width: 100px;
}

.w-200 {
  width: 200px;
}

.w-300 {
  width: 300px;
}
  