.btn {
  &-header {
    background-color: $light-blue !important;
    color: $white !important;
    border-radius: 10px !important;
    font-family: "Nunito",sans-serif !important;
    text-transform: none !important;
  }

  &-primary {
    background-color: $light-gray !important;
    color: $light-blue !important;
    border-radius: 10px !important;
    width: 200px;
    height: 50px;
    font-family: "Nunito",sans-serif !important;
    text-transform: none !important;

    &.Mui-disabled {
      color: rgba(0, 0, 0, 0.26) !important;
    }
  }

  &-text {
    color: $light-blue !important;
    font-family: "Nunito",sans-serif !important;
    text-transform: none !important;
  }
}
