.btn {
  &-header {
    background-color: $light-blue !important;
    color: $white !important;
    border-radius: 10px !important;
    font-family: "Nunito",sans-serif !important;
    text-transform: none !important;
  }

  &-primary {
    background-color: $light-gray !important;
    color: $light-blue !important;
    border-radius: 10px !important;
    width: 150px;
    font-family: "Nunito",sans-serif !important;
    text-transform: none !important;
  }
}
