.card {
  color: #505050 !important;

  &:last-child {
    margin: 0 !important;
  }

  &.card-v {
    margin-bottom: 50px;

    @media screen and (max-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &.card-h {
    margin-right: 50px;
    width: 360px;

    @media screen and (max-width: $tablet) {
      width: 300px;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-bottom: 30px !important;
    }

    &.medium {
      width: 300px;
    }
  }

  & b {
    display: block;
    font-size: 1.8em;

    @media screen and (max-width: $tablet) {
      font-size: 1.5em;
    }
  }
}
