.card {
  color: #505050 !important;

  &.card-v {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.card-h {
    margin-right: 50px;
    width: 300px;
    height: 400px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  & b {
    display: block;
    font-size: 1.8em;
  }
}
