.card {
  color: #505050 !important;

  &:last-child {
    margin: 0 !important;
  }

  &.card-v {
    margin-bottom: 50px;
  }

  &.card-h {
    margin-right: 50px;
    width: 300px;
  }

  & b {
    display: block;
    font-size: 1.8em;
  }
}
