.timer {
  margin-bottom: 35px;

  &__section {
    text-align: center;
    display: inline-block;
    padding: 5px 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    color: $dark-gray;

    @media screen and (max-width: $tablet) {
      padding: 5px 10px;
    }

    &:last-child {
      border-right: none;
    }

    & b {
      font-size: 4em;
      display: block;

      @media screen and (max-width: $tablet) {
        font-size: 1.8em;
      }
    }
  }
}
